.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 455px;
  margin: 20px auto;
  list-style-type: none;
  background-color: #171717;
  box-shadow: 5px 5px 10px #808080;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  text-align: center;
  margin-top: 40px;
  font-size: 145%;
}

.card-title > span {
  font-size: 80%;
  color: #494949;
}

.card-deco {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.card-clear {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.card-circ-01 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffe759;
  position: absolute;
  z-index: 5;
}

.card-circ-00 {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,48,25,0.48) 0%, rgba(224,19,11,0) 65%, rgba(207,4,4,0) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,48,25,0.48) 0%,rgba(224,19,11,0) 65%,rgba(207,4,4,0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,48,25,0.48) 0%,rgba(224,19,11,0) 65%,rgba(207,4,4,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#7aff3019', endColorstr='#00cf0404',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.card-circ-02 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e68b71;
  position: absolute;
  z-index: 4;
}

.card-circ-03 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d65a71;
  position: absolute;
}

.card-circ-04 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #924168;
  position: absolute;
}

.card-circ-05 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d3851+0,6d3851+100&1+0,1+52,0+70,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(109,56,81,1) 0%, rgba(109,56,81,1) 52%, rgba(109,56,81,0) 70%, rgba(109,56,81,0) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(109,56,81,1) 0%,rgba(109,56,81,1) 52%,rgba(109,56,81,0) 70%,rgba(109,56,81,0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(109,56,81,1) 0%,rgba(109,56,81,1) 52%,rgba(109,56,81,0) 70%,rgba(109,56,81,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#6d3851', endColorstr='#006d3851',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
}

.card-circ-06 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d3851+0,6d3851+100&0+0,0+16,1+17,0+23,0+35,0.95+36,0.95+36,0+47,0+57,1+58,0+73,0+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(109,56,81,0) 0%, rgba(109,56,81,0) 16%, rgba(109,56,81,1) 17%, rgba(109,56,81,0) 23%, rgba(109,56,81,0) 35%, rgba(109,56,81,0.95) 36%, rgba(109,56,81,0) 47%, rgba(109,56,81,0) 57%, rgba(109,56,81,1) 58%, rgba(109,56,81,0) 73%, rgba(109,56,81,0) 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(109,56,81,0) 0%,rgba(109,56,81,0) 16%,rgba(109,56,81,1) 17%,rgba(109,56,81,0) 23%,rgba(109,56,81,0) 35%,rgba(109,56,81,0.95) 36%,rgba(109,56,81,0) 47%,rgba(109,56,81,0) 57%,rgba(109,56,81,1) 58%,rgba(109,56,81,0) 73%,rgba(109,56,81,0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(109,56,81,0) 0%,rgba(109,56,81,0) 16%,rgba(109,56,81,1) 17%,rgba(109,56,81,0) 23%,rgba(109,56,81,0) 35%,rgba(109,56,81,0.95) 36%,rgba(109,56,81,0) 47%,rgba(109,56,81,0) 57%,rgba(109,56,81,1) 58%,rgba(109,56,81,0) 73%,rgba(109,56,81,0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#006d3851', endColorstr='#006d3851',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  animation: cicle01 1.5s linear infinite;
}
@keyframes cicle01 {
  0% {
    transform: scale(1);
  }

  80% {
    transform: scale(2);
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.card-temp {
  text-align: center;
  margin-top: 25px;
  font-size: 175px;
  position: absolute;
  z-index: 20;
}

.card-next {
  color: #808080;
  text-align: center;
  margin-top: 25px;
  text-transform: uppercase;
}

.card-next > ul > li {
  margin: 4px 0;
  list-style-type: none;
}
/* CLOUDS */
.card-cloud {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.cloud-cache {
  width: 100%;
  height: 155px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-cloud-cache {
  width: 100%;
  height: 155px;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+0,171717+100&0+75,1+97,1+100 */
  background: -moz-linear-gradient(top, rgba(41,41,41,0) 0%, rgba(28,28,28,0) 75%, rgba(24,24,24,1) 97%, rgba(23,23,23,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(41,41,41,0) 0%,rgba(28,28,28,0) 75%,rgba(24,24,24,1) 97%,rgba(23,23,23,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(41,41,41,0) 0%,rgba(28,28,28,0) 75%,rgba(24,24,24,1) 97%,rgba(23,23,23,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00292929', endColorstr='#171717',GradientType=0 );
  /* IE6-9 */
}

.card-cloud-01 {
  width: 200px;
  height: 100px;
  background: #497984;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(-100px) translateY(30px);
}

.card-cloud-02 {
  width: 200px;
  height: 100px;
  background: #497984;
  border-radius: 50%;
  position: absolute;
  transform: translateX(15px) translateY(60px);
}

.card-cloud-03 {
  width: 100px;
  height: 100px;
  background: #497984;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(80px) translateY(50px);
}

.card-cloud-04 {
  width: 50px;
  height: 50px;
  background: #497984;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-61px) translateY(3px);
}

.card-cloud-cache-2 {
  width: 100%;
  height: 155px;
  transform: translateY(-10px);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+0,171717+100&0+17,0.33+45,1+88 */
  background: -moz-linear-gradient(top, rgba(41,41,41,0) 0%, rgba(38,38,38,0) 17%, rgba(33,33,33,0.33) 45%, rgba(25,25,25,1) 88%, rgba(23,23,23,1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(41,41,41,0) 0%,rgba(38,38,38,0) 17%,rgba(33,33,33,0.33) 45%,rgba(25,25,25,1) 88%,rgba(23,23,23,1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(41,41,41,0) 0%,rgba(38,38,38,0) 17%,rgba(33,33,33,0.33) 45%,rgba(25,25,25,1) 88%,rgba(23,23,23,1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00292929', endColorstr='#171717',GradientType=0 );
  /* IE6-9 */
  position: absolute;
}

.card-cloud-10 {
  width: 200px;
  height: 100px;
  background: #417582;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(-80px) translateY(-10px);
}

.card-cloud-11 {
  width: 200px;
  height: 100px;
  background: #417582;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(-10px) translateY(10px);
}

.card-cloud-12 {
  width: 200px;
  height: 100px;
  background: #417582;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(90px) translateY(5px);
}

.card-cloud-20 {
  width: 200px;
  height: 100px;
  background: #34535a;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(-74px) translateY(-21px) rotateZ(-10deg);
}

.card-cloud-21 {
  width: 200px;
  height: 100px;
  background: #34535a;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(55px) translateY(-25px) rotateZ(9deg);
}

.card-cloud-22 {
  width: 200px;
  height: 100px;
  background: #34535a;
  border-radius: 100px / 50px;
  position: absolute;
  transform: translateX(130px) translateY(-17px) rotateZ(9deg);
}

.drops {
  position: absolute;
  display: block;
  transform: translateY(80px) translateX(-83px) rotateZ(20deg);
}

.drops-2 {
  position: absolute;
  display: block;
  opacity: 0.5;
  transform: translateY(71px) translateX(-29px) rotateZ(20deg);
}

.drops-3 {
  position: absolute;
  display: block;
  transform: translateY(90px) translateX(27px) rotateZ(20deg);
}

.drops-4 {
  position: absolute;
  display: block;
  opacity: 0.5;
  transform: translateY(71px) translateX(81px) rotateZ(20deg);
}

.drops-5 {
  position: absolute;
  display: block;
  opacity: 0.3;
  transform: translateY(79px) translateX(-101px) scale(0.4) rotateZ(20deg);
}

.drops-6 {
  position: absolute;
  display: block;
  opacity: 0.5;
  transform: translateY(71px) translateX(-54px) scale(0.3) rotateZ(20deg);
}

.drops-7 {
  position: absolute;
  display: block;
  opacity: 0.7;
  transform: translateY(82px) translateX(11px) scale(0.5) rotateZ(20deg);
}

.drops-8 {
  position: absolute;
  display: block;
  opacity: 0.5;
  transform: translateY(75px) translateX(105px) scale(0.4) rotateZ(20deg);
}

.drop {
  display: block;
  width: 3px;
  height: 10px;
  background-color: #92d8ef;
  -webkit-border-radius: 63px 63px 63px 63px/108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  transform: translateX(0px) translateY(-40px);
  animation: drop 600ms cubic-bezier(0, 0, 0.98, 0.75) infinite;
}
@keyframes drop {
  100% {
    transform: translateX(0px) translateY(21px);
  }
}

.drop2 {
  display: block;
  width: 4px;
  height: 14px;
  background-color: #92d8ef;
  -webkit-border-radius: 63px 63px 63px 63px/108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  transform: translateX(0px) translateY(-40px);
  animation: drop2 400ms cubic-bezier(0, 0, 0.98, 0.75) infinite;
}
@keyframes drop2 {
  100% {
    transform: translateX(0px) translateY(21px);
  }
}

.drop-col {
  display: block;
  width: 30px;
  height: 8px;
  background-color: #92d8ef;
  -webkit-border-radius: 63px 63px 63px 63px/108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  animation: dropcol 600ms linear infinite;
}
@keyframes dropcol {
  0% {
    transform: translateX(-10px) translateY(30px) scale(0) rotateZ(-20deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(-10px) translateY(30px) scale(1) rotateZ(-20deg);
    opacity: 0;
  }
}

.drop-col2 {
  display: block;
  width: 20px;
  height: 8px;
  background-color: #92d8ef;
  -webkit-border-radius: 63px 63px 63px 63px/108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  animation: dropcol2 400ms linear infinite;
}
@keyframes dropcol2 {
  0% {
    transform: translateX(-10px) translateY(30px) scale(0) rotateZ(-20deg);
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(-10px) translateY(30px) scale(1) rotateZ(-20deg);
    opacity: 0;
  }
}
